.PathFinder {
    margin-top: 20px;
    background-color: #3f4370;
    text-align: center;
    user-select: none;
    min-width: 600px;
}

.PathFinder .Board {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.PathFinder table {
    table-layout: fixed;
    padding: 20px;
}

.PathFinder td {
    border: 1px solid;
    border-radius: 0.25vw;
    width: 1vw;
    height: 1vw;
}

.PathFinder td.frontier {
    background-color: #5f6390;
}

.PathFinder td.fixed {
    background-color: #7f83b0;
}

.PathFinder td.wall {
    background-color: #313242;
}

.PathFinder td.path {
    background-color: #1ddece;
}

.PathFinder td.startingPoint {
    background-color: #1ddece;
}

.PathFinder td.destinationPoint {
    background-color: #1ddece;
}

.finderBtnRow {
    background-color: #313242;
}

.finderBtn {
    margin: 16px 5px;
    padding: 3px 5px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: 5px;
    outline: none;
    color: #e3e5ff;
    font-size: 20px;
    transition: all 0.2s;
}

.finderBtn:hover {
    color: #1ddece;
}

.finderBtn:disabled {
    color: #616282;
    cursor: default;
}

p {
    color: #e3e5ff;
    margin: 0px;
    padding-bottom: 10px;
}
